*
{margin: 0;padding: 0;border: 0;}

body{
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#main{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url(../images/Tlo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 30px;
    word-spacing: 6px;
    letter-spacing: 1px;
    text-shadow: 2px 4px 4px grey;
    text-transform: uppercase;
    text-align: left;
}

h2{
    font-size: 25px;
    color:black;
    letter-spacing: 2px;
    line-height: 50px;
}

h3{
    font-size: 19px;
    color:black;
    letter-spacing: 2px;
    line-height: 30px;
    font-style: italic;
    font-weight: normal;
}

p{
    font-size: 100%;
    color:black;
    padding-top:10px;
}

    
	
/*----------------------SLIDER----------------------*/

#slider-section{
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/sliderbcg.png);
}

#slider-tag{
    margin: 0 auto;
    background-image: url(../images/7.png);
}

#slider-tag>a{float: left;background-image: url(../images/BSPG.png);}

/*----------------------HEADER----------------------*/

header{   
    width: 100%;
    background-image: url(../images/MotywHeader.png);
    background-repeat: repeat;
    box-shadow: 0px 2px 4px grey;
    margin-bottom: 10px;
}

#header-inner{
    margin: 0 auto;
    height: 100%;
}

#navigation-toolbar{
    margin-left: 30px;
    margin-right: 30px;
}

label,#toggle{display:none;}

li.menu,li.menu-end{
    list-style: none;
    float: left;
    text-align: center;
}

li.menu>a,li.menu-end>a{
    display:block;
    text-decoration: none;
    color:#F5F5F5;
    font-weight: bold;
}

li.menu>a:hover,li.menu-end>a:hover{background: #4e6021}


/*----------------------FOOTER----------------------*/

footer{
    width: 100%;
    background-image: url(../images/MotywFooter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-inner{margin: 0 auto;}

.footer-lefttext{
    float: left;
    margin-top: 10px;
}

.footer-lefttext>p{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
    padding-left:10px;
    text-transform: none;
    font-style: normal;
    color:white;
}

.footer-middletext{
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-middletext>p{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
    text-transform: none;
    font-style: normal;
    color:white;
    float: left;
    margin-bottom: 10px;
}

ul.footer-last{float: right;}

li.foot_menu{
    list-style: none;
    margin-top: 10px;
    float: left;
}

li.foot_menu>a{
    line-height: 30px;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    color:white;
}

li.foot_menu>a:hover{color: #4e6021;}

#stopka{
    width: 100%;
    background-color: #2d2927;
    height: auto;
    font-size: 12px;
    padding-bottom: 5px;
    }

#stopka>p{margin: 0 auto; color: antiquewhite;}

/*----------------------AKTUALNOSCI----------------------*/

#aktualnosci{margin: 0 auto;margin-bottom: 10px;}

#aktualnosci-tab{
    display: inline-block;
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 20px grey;
    margin-bottom: 20px;
}

#aktualnosci-picture{
    float:left;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    margin-right: 10px;
}


#aktualnosci-picture>img{   
    width:100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

#aktualnosci-art > h3{
    border-bottom: 2px solid black;
    padding-left: 0px;
}

/*----------------------START----------------------*/

#aktualnosci-section{
    margin: 0 auto;
    margin-bottom: 20px;
}

#aktualnosci-wrapper{
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 20px grey;
}

#aktualnosci-wrapper-picture, #slide{
    float:left;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    margin-right: 10px;
}

#slide{
    width: 100%;
    height: 75%;
}

#slide>img{
    display: inline-block;
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
}

#slide-text{
    border-bottom-left-radius: inherit;
    display: inline-block;
    width: 100%;
    height: 25%;
    text-align: center;
    background-image: url(../images/MotywHeader.png);
}

#slide-text>p{
        width: 100%;
        text-align: center;
        font-size: 22px;
        color: white;
        overflow: hidden;
    }

#aktualnosci-wrapper-picture>img{   
    width:100%;
    height: 100%;
    border-top-left-radius: inherit;
}

#aktualnosci-wrapper-picture>p{
        float: left;
        font-size: 22px;
        line-height: 40px;
        margin-left: 30px;
        color: white;
    }

#aktualnosci-wrapper-art > h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#aktualnosci-wrapper-art > h3{
    border-bottom: 2px solid black;
    padding-left: 0px;
}

#aktualnosci-wrapper-art>p{
        white-space: nowrap;
        overflow: hidden;
    }

section.outter-wrapper{margin: 0 auto;}

.wrapper{
    float:left;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 20px grey;
}

article.wrapper-img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 19px Solid #f68e56;
}

#ewe{
    width: 100%;
    height: 96%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(../images/ewelaptop.png);
    background-size: 100% 100%;
}

article.wrapper-text{
    width: 100%;
    height: 40%;
    margin-left: 10px;
}

[class = "wrapper-img"] > img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 article.wrapper-text>a,#aktualnosci-wrapper>a,#aktualnosci-tab>a{
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    background-color: #f68e56;
    }

#aktualnosci-wrapper>a{margin-top: 80px;}
    
article.wrapper-text>a>img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
/*---------------------PODSTRONA----------------------*/

#podstrona{
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#podstrona>h1{
    color: darkgreen;
    float: inherit;
}

#podstrona>p.top{
    width: 100%;
    font-size: 22px;
    text-align: justify;
}

#podstrona>p.top>img{
    float: right;
    margin-left: 10px;
}

/*---------------------PROJEKTY----------------------*/

#projekty{
    margin: 0 auto;
}

#projekty>p{
    font-size: 30px;
    text-align: center;
}

/*----------------------KONTAKT----------------------*/

#kontakt{
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#kontakt-info{
    float: left;
    height: 100%;
    width: 40%;
}

h1.title{
    color: darkgreen;
    letter-spacing: 2px;
    float: left;
}

#kontakt-info>h2{
    float: left;
    color:black;
    letter-spacing: 2px;
}

#kontakt-info>p {
    float: left;
}

#map{height: 100%;width: 60%;}

@media screen and (max-width:639px){  
    /*----------------------SLIDER----------------------*/

    #slider-section{height: 250px;}

    #slider-tag{width: 320px;height: 250px;}
    
    #slider-tag>a{
    margin-left: 35px;
    margin-top: 20px;
    width: 250px;
    height: 200px;
    background-size:  250px 200px;
    }
    
    /*----------------------HEADER----------------------*/
    
    header{width: 100%;height: 70px;background-size: auto 70px;}

    #header-inner{width: 320px;}
    
    #navigation-toolbar{
        display: none;
        width: 260px;
        height: 295px;
        margin-top: 70px;
        background-image: url(../images/MotywFooter.png);
        position: absolute;
        z-index: 1000;
    }
  
    label{
        float: right;
        margin-top: 16px;
        display: block;
        cursor: pointer;
        width: 35px;
        height: 35px;
        font-size: 35px;
        text-align: center;
        margin-right: 30px;
        line-height: 35px;
    }

    nav li{
        text-align: center;
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid grey;
    }
    
    li.menu a{line-height: 47px;}
    
    li.menu-end a{line-height: 48px;}
    
    li.menu>img,li.menu-end>img{display: none;}
    
    #toggle:checked + #navigation-toolbar{display: block;}

     /*----------------------AKTUALNOSCI----------------------*/

    #aktualnosci{margin: 0 auto; width: 320px;height:auto;}

    #aktualnosci-block{
        height: auto;
        width: 300px;
        margin-left: 10px;
    }
    
    #aktualnosci-tab{
    display: inline-block;
    width: 300px;height: 700px;border-top-right-radius: 10px;margin-bottom: 0px;margin-top: 10px;}
    
    
    #aktualnosci-section{width: 320px;height: 700px;}

    #aktualnosci-wrapper{
        width: 300px;
        height: 700px;
        margin-left: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #aktualnosci-wrapper-picture{width: 300px;height: 200px;border-top-right-radius: 10px;}
    
    #aktualnosci-wrapper-picture>img{border-top-right-radius: inherit;}

    #aktualnosci-wrapper-art{float: left; height: 200px; margin-left: 10px;display: block;}
    
    #aktualnosci-wrapper-art > h2{
    width: 280px;
    float: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    }
    
	#aktualnosci-wrapper-art > h3{font-size:12px;}
	
    #aktualnosci-wrapper-art>p{
        width: 280px;
        height: 110px;
        overflow: hidden;
        font-size: 8px;
    }
    /*----------------------START-----------------------*/
    
    section.outter-wrapper{width: 320px;height: 1470px;}

    .wrapper{width: 300px;height: 350px;margin-left: 10px;}

    article.wrapper-text>a,#aktualnosci-wrapper>a,#aktualnosci-tab>a{
    margin-right: 30px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-size: 120px 30px;
    }
    
    #aktualnosci-wrapper>a,#aktualnosci-tab>a{
       margin-right: 30px;
       margin-top: 40px;  
    }
    
	.aktualnosci-text{
		width: 100%;
	}

	.aktualnosci-text>p{
		font-size: 12px;
	}
	
	.aktualnosci-obraz{
		margin-top: 10px;
		 margin-left: 10px;
		 height: 260px;
	}
	.a_obraz{
		width: 260px;
		height: 260px;
	}
	
    /*----------------------O FIRMIE----------------------*/
    
    #podstrona{width: 300px;height: auto;}

    #podstrona>p.top{font-size: 12px;line-height: 20px;text-align: inherit;}

    #podstrona>p.top>img{width: 300px;height: 300px;margin-left: 0px;}

    /*---------------------PROJEKTY---------------------*/
    
    #projekty{
    width: 320px;
    height: 300px;
    margin: 0 auto;
    }

    #projekty>p{
        font-size: 30px;
        text-align: center;
    }
    
    /*---------------------KONTAKT---------------------*/
    
    #kontakt{width: 300px;height: 300px;}
    
    h1.title{font-size: 15px;letter-spacing: 2px;line-height: 25px;}

    #kontakt-info>h2{font-size: 10px;letter-spacing: 2px;line-height: 20px;}

    #kontakt-info>p{font-size: 10px;line-height: 10px;}

    /*----------------------FOOTER----------------------*/

    footer{height: 300px;}

    #footer-inner{width: 320px;height: 100%;}

    .footer-wrapper{width: 300px;height: 100%;margin-left: 10px;}

    .footer-lefttext{width: 220px;height: 170px;margin-left: 50px;}


    .footer-middletext{width: 240px;height: 100px;margin-left: 50px;}

    .footer-middletext>p,.footer-lefttext>p{line-height: 20px;font-size: 12px;}

    ul.footer-last{display: none;}

    #stopka>p{width: 200px; font-size: 10px;}
}
@media screen and (min-width:640px) and (max-width:767px){  
    
    /*----------------------SLIDER----------------------*/
    
    #slider-section{height: 240px;}
    
    #slider-tag{width: 640px;height: 240px;}
    
    #slider-tag>a{
    margin-left: 40px;
    margin-top: 20px;
    width: 250px;
    height: 200px;
    background-size: 250px 200px;
    }
    
    /*----------------------HEADER----------------------*/
    
    header{width: 100%;height: 60px;background-size: auto 70px;}

    #header-inner{width: 640px;height: 60px;}
    
    #navigation-toolbar{
        float: left;
        display: none;
        position: absolute;
        margin-left: 480px;
        margin-top: 60px;
        width: 150px;
        height: 295px;
        background-image: url(../images/MotywFooter.png);
        z-index: 1000;
    }
    
    label{
        margin-top: 10px;
        float: right;
        display: block;
        cursor: pointer;
        width: 32px;
        height: 32px;
        font-size: 32px;
        text-align: center;
        margin-right: 60px;
        line-height: 35px;
    }
        
    nav li{
        text-align: center;
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid grey;
    }
    
    
    li.menu a,li.menu-end a{
        line-height: 47px;
    }
    
    li.menu>img,li.menu-end>img{display: none;}
    
    #toggle:checked + #navigation-toolbar {display: block;}
    
    /*----------------------AKTUALNOSCI----------------------*/

    #aktualnosci{margin: 0 auto; width: 640px;height:auto;}

    #aktualnosci-block{
        height: auto;
        margin-left: 20px;
        width: 620px;
    }
    
    #aktualnosci-tab{width: 620px;height: 200px;}
    
    /*----------------------START-----------------------*/
    
    #aktualnosci-section{width: 640px;height: 200px;}

    #aktualnosci-wrapper{width: 620px;height: 200px;margin-left: 10px;}

    #aktualnosci-wrapper-picture{width: 240px;height: 200px;}
	
	
    #slide-text>p{font-size: 18px;}
    
    /*#aktualnosci-wrapper-art{float: left;}*/
    
    #aktualnosci-wrapper-art>p{ width: 360px; height: 100px; font-size: 7px;}
    
    section.outter-wrapper{width: 640px;height: 740px;}

    .wrapper{width: 305px;height: 350px;margin-left: 10px;}

    article.wrapper-text>a,#aktualnosci-wrapper>a{
    margin-right: 30px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-size: 120px 30px;
    }
    
	#aktualnosci-wrapper-art > h2{font-size: 16px;}
	
	#aktualnosci-wrapper-art > h3{font-size: 14px;}
	
    #aktualnosci-wrapper>a{
       margin-right: 30px;
       margin-top: 40px;  
    }
    
	.aktualnosci-text{
		 float:left;
		 width:25%;
	}

	.aktualnosci-text>p{
		font-size: 7px;
	}
	
	.aktualnosci-obraz{
		margin-top: 10px;
		 margin-left: 25px;
		 float: left;
		 width:30%; 
		 height: 105px;
	}
	.a_obraz{
		width: 95%;
		height: 95%;
	}
    
	
    /*----------------------PODSTRONY----------------------*/
    
    #podstrona{width: 620px;height: auto;}

    #podstrona>p.top{font-size: 18px;line-height: 40px;}

    #podstrona>p.top>img{width: 300px;height: 300px;}
    
    /*---------------------PROJEKTY---------------------*/
    
    #projekty{
    width: 620px;
    height: 300px;
    margin: 0 auto;
    }

    #projekty>p{
        font-size: 30px;
        text-align: center;
    }
    
    /*---------------------KONTAKT---------------------*/
    
    #kontakt{width: 600px;height: 400px;}
    
    h1.title{font-size: 25px;letter-spacing: 2px;line-height: 35px;}

    #kontakt-info>h2{font-size: 20px;letter-spacing: 2px;line-height: 35px;}

    #kontakt-info>p{font-size: 15px;line-height: 20px;}
    
    /*----------------------FOOTER----------------------*/

    footer{width: 100%;height: 260px;}

    #footer-inner{width: 640px;height: 100%;}

    .footer-wrapper{width: 620px;height: 100%;margin-left: 10px;}

    .footer-lefttext{width: 200px;height: 220px;}

    .footer-lefttext>p{line-height: 25px;}

    .footer-middletext{width: 180px;height: 200px;margin-left: 50px;}

    .footer-middletext>p{line-height: 25px;}

    ul.footer-last{
        display: block;
        width: 130px;
        height: 100%;
        margin-right: 10px;   
    }

    li.foot_menu>a{line-height: 30px;}
    
    #stopka>p{width: 600px;}
    
}
@media screen and (min-width:768px) and (max-width:959px){  

    /*----------------------SLIDER----------------------*/

    #slider-section{width: 100%;height: 240px;}

    #slider-tag{width: 708px;height: 240px;}
    
    #slider-tag>a{
    margin-left: 60px;
    margin-top: 20px;
    width: 250px;
    height: 200px;
    background-image: url(../images/BSPG.png);
    background-size:  250px 200px;
    }
    
    /*----------------------HEADER----------------------*/
    
    header{width: 100%;height: 60px;background-size: auto 60px;}

    #header-inner{width: 768px;}

    #navigation-toolbar{display:block !important;width: 709px;height: 60px;}

    li.menu{width: 118px;}

    li.menu>a,li.menu-end>a{font-size: 18px;line-height: 60px;}

    li.menu-end>a{width: 114px;float: left;}
    
    li.menu>img,li.menu-end>img{width: 2px;height: 60px;float: left;}
    
    li.menu-end{width: 118px;}

     /*----------------------AKTUALNOSCI----------------------*/

    #aktualnosci{margin: 0 auto; width: 768px;height:auto;}

    #aktualnosci-block{
        height: auto;
        margin-left: 40px;
        width: 708px;
    }
    
    #aktualnosci-tab{width: 688px;height: 220px;}
    
    /*----------------------START----------------------*/
    
    #aktualnosci-section{width: 768px;height: 220px;}

    #aktualnosci-wrapper{width: 708px;height: 220px;margin-left: 30px;}

    #aktualnosci-wrapper-picture{width: 250px;height: 100%;}
    
    #slide-text>p{
        font-size: 20px;
    }
    
    #aktualnosci-wrapper-art{float: left; width: 400px; height: 220px;}
    
    #aktualnosci-wrapper-art>p{width: 400px; height: 120px; overflow: hidden; white-space: nowrap; font-size: 9px;}
	
	#aktualnosci-wrapper-art > h2{font-size: 18px;}
	
	#aktualnosci-wrapper-art > h3{font-size: 16px;}
	
	.aktualnosci-text{
		 float:left;
		 width:60%;
	}

	.aktualnosci-text>p{
		font-size: 10px;
	}
	
	.aktualnosci-obraz{
		 margin-top: 10px;
		 float: left;
		 width:40%; 
		 height: 120px;
	}
	.a_obraz{
		width: 95%;
		height: 95%;
	}
    
    section.outter-wrapper{width: 768px;height: 740px;}

    .wrapper{width: 344px;height: 350px;margin-left: 30px;margin-right: -10px;}

    article.wrapper-text>a,#aktualnosci-wrapper>a{
    margin-right: 40px;
    margin-top: 20px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    background-size: 130px 30px;
    }
    
    #aktualnosci-wrapper>a{
       margin-right: 30px;
       margin-top: 60px;  
    }
    
    /*----------------------PODSTRONY----------------------*/
    
    #podstrona{width: 708px;height: auto;}
    
    #podstrona>p.top{font-size: 20px;line-height: 40px;}

    #podstrona>p.top>img{width: 320px;height: 320px;}
    
    /*---------------------PROJEKTY---------------------*/
    
    #projekty{width: 708px;height: 300px;margin: 0 auto;}

    #projekty>p{font-size: 30px;text-align: center;}
    
    /*---------------------KONTAKT---------------------*/
    
    #kontakt{width: 688px;height: 400px;}
    
    h1.title{font-size: 25px;letter-spacing: 2px;line-height: 40px;}

    #kontakt-info>h2{font-size: 20px;line-height: 40px;}

    #kontakt-info>p{font-size: 18px;line-height: 30px;}
    
    /*----------------------FOOTER----------------------*/

    footer{height: 260px;}

    #footer-inner{width: 768px;height: 100%;}

    .footer-wrapper{width: 708px;height: 100%;margin-left: 30px;}

    .footer-lefttext{width: 240px;height: 200px;margin-left: 10px;}

    .footer-lefttext>p{font-size: 20px;line-height: 25px;}

    .footer-middletext{width: 220px;height: 200px;margin-left: 35px;}

    .footer-middletext>p{font-size: 20px;line-height: 25px;}

    ul.footer-last{width: 155px;height: 260px; margin-right: 5px;}

    li.foot_menu>a{font-size: 20px;line-height: 30px;}
    
    #stopka>p{width: 670px;}
    
}
@media screen and (min-width:960px) and (max-width:1079px){  

    /*----------------------SLIDER----------------------*/

    #slider-section{height: 270px;}

    #slider-tag{width: 900px;height: 270px;background-size: 900px 270px;}
    
    #slider-tag>a{
    margin-left: 60px;
    margin-top: 10px;
    float: left;
    width: 300px;
    height: 250px;
    background-image: url(../images/BSPG.png);
    background-size:  300px 250px;
    }
    
    /*----------------------HEADER----------------------*/
    
    header{height: 70px;background-size: auto 70px;}

    #header-inner{width: 960px;height: 70px;}

    #navigation-toolbar{width: 900px;height: 70px;}

    li.menu,li.menu-end{width: 150px;height: 100%}

    li.menu>a,li.menu-end>a{
        font-size: 16px;
        width: 148px;
        height: 45px;
        float: left;
        text-align: center;
        padding-top: 25px;
    }

    li.menu-end>a{width: 146px;}
    
    li.menu>img,li.menu-end>img{width: 2px;height: 70px;float: left;}    
    
     /*----------------------AKTUALNOSCI----------------------*/

    #aktualnosci{margin: 0 auto; width: 900px;height:auto;}

    #aktualnosci-block{height: auto;margin-left: 20px;}
    
     #aktualnosci-tab{width: 900px;height: 250px;}
    
    /*-----------------------START-----------------------*/
    
    #aktualnosci-section{width: 960px;height: 250px;}
    
    #aktualnosci-wrapper{width: 900px;height: 250px;margin: 0 auto;}

    #aktualnosci-wrapper-picture{width: 300px;height: 100%;}
    
    #aktualnosci-wrapper-art{float: left; width: 590px; height: 250px;}

    #aktualnosci-wrapper-art>p{width: 590px;height: 155px; overflow: hidden; font-size: 11px;}
	
	.aktualnosci-text{
		 float:left;
		 width:60%;
	}

	.aktualnosci-text>p{
		font-size: 13px;
	}
	
	.aktualnosci-obraz{
		 margin-top: 15px;
		 float: left;
		 width:40%; 
		 height: 150px;
	}
	.a_obraz{
		width: 95%;
		height: 95%;
	}
    
    #slide-text>p{line-height: 40px;}
    
    section.outter-wrapper{width: 960px;height: 850px;}

    .wrapper{width: 435px;height: 400px;margin-left: 30px;}

    article.wrapper-text>a,#aktualnosci-wrapper>a{
    margin-right: 40px;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-size: 120px 40px;
    }
    
    #aktualnosci-wrapper>a{margin-right: 30px;margin-top: 80px;  }
    
    /*----------------------PODSTRONY----------------------*/
    
    #podstrona{width: 900px;height: auto;}

    #podstrona>p.top{font-size: 18px;line-height: 40px;}

    #podstrona>p.top>img{margin-top: 15px;width: 400px;height: 400px;}
    
    /*---------------------PROJEKTY---------------------*/
    
    #projekty{width: 900px;height: 300px;margin: 0 auto;}

    #projekty>p{font-size: 30px;text-align: center;}
    
    /*---------------------KONTAKT---------------------*/
    
    #kontakt{width: 880px;height: 450px;;margin-bottom: 20px;}
    
    h1.title{font-size: 30px;line-height: 50px;text-align: left;}
    
    
    #kontakt-info>h2{font-size: 20px;line-height: 50px;}

    #kontakt-info>p{font-size: 18px;line-height: 35px;}
    
    /*----------------------FOOTER----------------------*/

    footer{height: 300px;}

    #footer-inner{width: 960px;height: 100%;}

    .footer-wrapper{width: 900px;height: 100%;margin-left: 30px;}

    .footer-lefttext{width: 300px;height: 200px;}

    .footer-lefttext>p{font-size: 18px;line-height: 25px;}

    .footer-middletext{width: 300px;height: 200px;margin-left: 60px;}

    .footer-middletext>p{font-size: 18px;line-height: 25px;}

    ul.footer-last{width: 180px;height: 260px; margin-right: 20px;}

    li.foot_menu>a{margin-left: 50px;font-size: 18px;line-height: 30px;}
    
    #stopka>p{width: 880px;}
}
@media screen and (min-width:1080px){  
    
    /*----------------------SLIDER----------------------*/

    #slider-section{height: 270px;}
    
    #slider-tag{width: 1020px;height: 100%;background-size: 1020px 270px;}

    #slider-tag>a{
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: 250px;
    background-image: url(../images/BSPG.png);
    background-size:  300px 250px;
    }

    /*----------------------HEADER----------------------*/

    header{   height: 70px;background-size: auto 70px;}

    #header-inner{width: 1080px;}

    #navigation-toolbar{width: 1020px;height: 70px;}
    
    li.menu,li.menu-end{width: 170px;}
    
    li.menu>a,li.menu-end>a{
        width: 168px;
        line-height: 70px;
        font-size: 22px;
        float: left;
    }

    li.menu-end>a{width: 166px;}
    
    li.menu>img,li.menu-end>img{width: 2px;height: 70px;float: left;}

    /*----------------------START----------------------*/
    
    #aktualnosci-section{width: 1080px;height: auto;}

    #aktualnosci-wrapper{margin: 0 auto;width: 1020px;height: 320px;}

    #aktualnosci-wrapper-picture{width: 400px;height: 100%;}
    
    #aktualnosci-wrapper-art{
        margin-left: 300px;
        overflow: hidden;
		height: 100%;
    }
    #aktualnosci-wrapper-art>p{
        white-space: nowrap;  
        width: 50%px;
        height: 220px;
    }
	
	.aktualnosci-text{
		 float:left;
		 width:50%;
	}

	.aktualnosci-text>p{
		font-size: 100%;
	}
	
	.aktualnosci-obraz{
		 margin-top: 15px;
		 float: left;
		 width:50%; 
		 height: 220px;
	}
	.a_obraz{
		width: 95%;
		height: 95%;
	}
	
    #slide-text>p{
        line-height: 50px;
    }

	
    section.outter-wrapper{width: 1080px;height: 850px;}

    .wrapper{
        margin-left: 30px;
        margin-right: -10px;
        width: 500px;
        height: 400px;
    }
    
    article.wrapper-text>a,#aktualnosci-wrapper>a{
    float: right;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-size: 120px 40px;
    }
    
    #aktualnosci-wrapper>a{
        margin-top: 20px;
    }
    
    #ewe{
    background-image: url(../images/EWEfinal.png);
    background-size: 100% 100%;
    }
    
    /*----------------------AKTUALNOSCI----------------------*/
    #aktualnosci{margin: 0 auto; width: 1080px;height:auto;}

    #aktualnosci-block{
        margin-left: 30px;height: auto;
    }
    
    #aktualnosci-tab{
        width: 1020px;height: 320px;}

    #aktualnosci-picture{width: 300px;height: 100%;background-color: lightgray}
    
    /*----------------------PODSTRONY----------------------*/
    
    #podstrona{width: 1020px;height: auto;}

    #podstrona>p.top{font-size: 24px;line-height: 40px;}

    #podstrona>p.top>img{margin-top: 15px;width: 450px;height: 300px;}
    
    /*---------------------Projekty---------------------*/
    
    #projekty{
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    }

    #projekty>p{
        font-size: 30px;
        text-align: center;
    }
    
    /*---------------------KONTAKT---------------------*/
    
    #kontakt{width: 1000px;height: 500px;}
    
    #kontakt-info>p{font-size: 22px;line-height: 40px;}
    
    /*----------------------FOOTER----------------------*/

    footer{height: 250px;}

    #footer-inner{width: 1080px;height: 100%;}

    .footer-wrapper{width: 1020px;margin-left: 30px;height: 100%;}

    .footer-lefttext{width: 300px;height: 200px;}

    .footer-lefttext>p{font-size: 22px;line-height: 25px;}

    .footer-middletext{width: 360px;height: 200px;margin-left: 110px;}

    .footer-middletext>p{font-size: 22px;line-height: 25px;}

    ul.footer-last{width: 180px;height: 250px;}

    li.foot_menu>a{margin-left: 20px;font-size: 22px;line-height: 30px;}
    
    #stopka>p{width: 1000px;}
}
